<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<%= link_to 'Edit', edit_user_event_path(@user_id, @event) %> |
<%= link_to 'Back', user_events_path %>
